<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hey!</h3> 
    <h2><%= @leave.employee.first_name %> has applied for leave cancellation.</h2>
    <div>Reason: <%= @leave.reason %> </div>
    <div>Duration: <%= @leave.from %> to <%= @leave.to %> </div>
    <div>Status: <%= @leave.status %></div>
    <div>Approve the cancellation via following link. <%= link_to 'Cancel', edit_admin_leave_url(@leave) %></div>
  </body>
</html>
