<div class="container">
  <% if employee_signed_in? %>
    <div class="jumbotron bg-3">
      <h3 class="display-4">Welcome! <%= current_employee.first_name %></h3>
      <p class="lead"><%= link_to 'Apply Leave', new_leave_path, :class =>"btn btn-outline-secondary btn-lg" %></p>
      <hr class="my-4">
      <p class="lead"><%= link_to 'Leave Quota', leave_quota_path, :class =>"btn btn-outline-secondary btn-lg" %></p>
      <hr class="my-4">
      <p class="lead"><%= link_to 'Summary', leaves_path , :class =>"btn btn-outline-secondary btn-lg" %></p>
      <hr class="my-4">
  <% else %>
      <%= link_to 'Login', new_employee_session_path, class: "btn btn-primary" %> 
    </div>
  <% end %>
</div>
