<div class="container">
  <center><h2>Leave Status</h2></center>
  <table class="table">
     <thead>
       <tr>
         <th>Id</th>
         <th>Employee Id</th>
         <th>From</th>
         <th>To</th>
         <th>Reason</th>
         <th>Status</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td><%= @leave.id %></td>
         <td><%= @leave.employee_id %></td>
         <td><%= @leave.from %></td>
         <td><%= @leave.to %></td>
         <td><%= @leave.reason %></td>
         <td><%= @leave.status %></td>
       </tr>
     </tbody>
  </table>
  <% if @leave.approved? %>
    <%= link_to 'Cancel', edit_leave_path(@leave),class: "btn btn-danger" %>
  <% end %>
</div>